# Virtual environments
venv/
env/
ENV/
virtualenv/
.venv/
.env/
.ENV/
.virtualenv/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# My data files
data/
my_data/

# checkpoints
*.pth

# all .DS_Store
.DS_Store
.idea/

frame_manifest.json


wandb/

weights/models--openai--clip-vit-large-patch14/
../../effortvenv/